<form method=POST action=/display enctype=multipart/form-data>
  <input type="text" name=p1 placeholder='Name of first pokemon'> <input type=file name=p1_file><br>
  <input type="text" name=p2 placeholder='Name of second pokemon'> <input type=file name=p2_file><br>
  <input type="text" name=p3 placeholder='Name of third pokemon'> <input type=file name=p3_file><br>
  <input type="text" name=p4 placeholder='Name of fourth pokemon'> <input type=file name=p4_file><br>
  <input type="text" name=p5 placeholder='Name of fifth pokemon'> <input type=file name=p5_file><br>
  <input type="text" name=p6 placeholder='Name of sixth pokemon'> <input type=file name=p6_file><br>
  <input type="text" name=limit placeholder="Limit number of matchups" value=10>
  <input type=submit name=submit>
</form>
